<!-- about.component.html -->

<div class="about-container">
    <h2>About</h2>
    <p>
    We believe in transparency, cooperation globally, and the free exchange of talent and ideas. A forum for the sharing
    of these technical and humanitarian discussions is given for meetings, conferences and other events. We are also committed to creating
    a secure, constructive, and supportive atmosphere for all participants in conferences, activities, and meetings who participate in these
    discussions with us.
    </p>
    <button (click)="onLearnMoreClicked()">Learn More</button>
  </div>
  