<div class="container"> 
    <table class="table table-striped table-bordered" border = "1"> 
        <thead> 
            <tr> 
                <th>Company</th>
                <th>Trademark</th> 
                <th>Sponsorship</th> 
                <th>Go To Website</th> 
            </tr> 
        </thead> 
            <tbody> 
                <tr *ngFor="let user of comp"> 
                <td>{{user.companyName}}</td> 
                <td><img src="{{user.imageUrl}}" /></td>
                <td>{{user.sponsorShip}}</td> 
                <td>{{user.webSite}}</td> 
            </tr> 
            </tbody> 
    </table> 
</div> 